@page
@model IBCS_Core_Web_Portal.Pages.ContactusModel
@{
}

<script type="text/javascript">
	$(document).ready(function () {
		$('#home_').removeClass('has-active');
		$('#contact_').addClass('active');
		$('#info_').addClass('u-side-nav-opened active');
		$('#subMenu5').css('display', 'block');
	});
	</script>
<div class="g-pa-20">
	<div class="g-hidden-sm-down header-title g-pa-20 text-center">
		<ul class="u-list-inline g-color-gray-dark-v6">
			<li class="list-inline-item g-mr-10">
				<h4 class="mb-0 text-white">Contact Us</h4>
			</li>
		</ul>
	</div>
	<div class="row mt-3">
		<div class="col-12">
			<div class="card center-card-full">
				<div class="row mx-0">
					<div class="col-sm-4 center-image central-operations-img">
						<img src="assets/images/centers/central-operations.jpg" class="img-fluid d-md-none" alt="Central Operations">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Central Operations</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Ali</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.tayyab@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222  Ext. 247</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Irfan Hussain</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										i.hussain@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222  Ext. 276</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Yawer Aijaz Khan</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										y.aijaz@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222  Ext. 276</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Iqbal Ashraf</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										i.ashraf@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222  Ext. 277</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">5th Floor, AWT Plaza, I.I. Chundrigar Road, Karachi</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image abbottabad-img">
						<img src="assets/images/centers/abbottabad.jpg" class="img-fluid d-md-none" alt="Abbottabad">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Abbottabad</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Syed Ayaz Hussain (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										s.ayaz@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0992-400351</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Adalat Hussain</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">a.hussain2@nift.pk</p>
									<p class="mb-0">
										ops.abt@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0992-416034</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Manzoor Ahmed</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.abt@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0992-416034</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">2nd Floor, Adil Plaza, Supply Bazar, Abbottabad</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image attock-img">
						<img src="assets/images/centers/attock.jpg" class="img-fluid d-md-none" alt="Attock">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Attock</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Fiyaz (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.fiyyaz@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">057-2702112</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Irfan Khan</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										i.khan@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">057-2603113</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Sajjad Ahmed</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.atk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">057-2603113</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">First Floor, Ahmed Plaza, Opp. Railway Park, Pleader Lane, Attock</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image bahawalpur-img">
						<img src="assets/images/centers/bahawalpur.jpg" class="img-fluid d-md-none" alt="Bahawalpur">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Bahawalpur</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Humayun Sanobar (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										h.sanobar@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">062-2507407</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Saeed Ahmed / Moin Bhatti</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.bwp@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">062-2507408</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">3rd Floor, Al-Karim Plaza, Circular Road, Bahawalpur</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image dg-khan-img">
						<img src="assets/images/centers/dera-ghazi-khan.jpg" class="img-fluid d-md-none" alt="D.G. Khan">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">D.G. Khan</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Atta Ur Rehman (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.rehman2@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">064-2406368</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Nasir Hussain</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.dgk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">064-2406323-4</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Al-Mughairy Plaza, Near Ramzan Guest House, Jampur Road, D.G. Khan</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image di-khan-img">
						<img src="assets/images/centers/dera-ismail-khan.jpg" class="img-fluid d-md-none" alt="D.I. Khan">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">D.I. Khan</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Abdul Sattar (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.sattar@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0966-930191-92</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Hafeez Khan</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.dik@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0966-930191-92</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Muddar Plaza, East Circular Road, NIFT D.I. Khan</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image faisalabad-img">
						<img src="assets/images/centers/faisalabad.jpg" class="img-fluid d-md-none" alt="Faisalabad">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Faisalabad</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Khalid (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.khalid2@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">041-2619105</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Aslam</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.fsd@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">041-2619103</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">4th Floor, State Life Building, 2-Liaqat Road, Faisalabad</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image gujranwala-img">
						<img src="assets/images/centers/gujranwala.jpg" class="img-fluid d-md-none" alt="Gujranwala">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Gujranwala</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Asif Ali (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.ali3@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">055-3828777</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Kashif Shahzad</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										k.shahzad@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">055-3828551-4</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Usman</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.guj@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">055-3828551-4</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Kent Shopping Mall, Shahrah-e-Quaid-e-Azam Road, Commercial Area, Rahwali Cant., Gujranwala</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image hyderabad-img">
						<img src="assets/images/centers/hyderabad.jpg" class="img-fluid d-md-none" alt="Hyderabad">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Hyderabad</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Imran Aziz (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.imran2@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">022-3810044</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Syed Habib-Ur-Rehman</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.hyd@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">022-3810041-43</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Plot # 109, Block-D, Near Shrine of Syed Bachal Shah Bukhari, Latifabad # 7, Hyderabad</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image islamabad-img">
						<img src="assets/images/centers/islamabad.jpg" class="img-fluid d-md-none" alt="Islamabad">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Islamabad</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Khalil Ur Rehman (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										k.abbasi@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">051-111-112-222 Ext.107, 108</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Asif Sajjad</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.isb@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">051-111-112-222</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Shahzad Ahmed Mirza</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.isb@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">051-111-112-222</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">2nd Floor, MB City Mall Plaza, I-8 Markaz, Islamabad</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image jhang-img">
						<img src="assets/images/centers/jhang.jpg" class="img-fluid d-md-none" alt="Jhang">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Jhang</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Amin (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.amin@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">047-7652016</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Razzaq</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.jhg@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">047-7652018</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">Street # 3, House # 2, Amir Colony, Yousaf Shah Road, Jhang</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image jhelum-img">
						<img src="assets/images/centers/jhelum.jpg" class="img-fluid d-md-none" alt="Jhelum / Mirpur">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Jhelum / Mirpur</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Syed Ali Raza (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.raza3@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0544-629711</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Nadeem Javed / M. Adil Aziz</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.jlm@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0544-629711</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">3rd Floor, Paswal Arcade, GTS Chowk, Jhelum Cantt</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image karachi-img">
						<img src="assets/images/centers/karachi.jpg" class="img-fluid d-md-none" alt="Karachi">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Karachi</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Abdul Rafay (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.rafay@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222 Ext. 213</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Kamran Saleem</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										k.saleem@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222 Ext. 216, 267</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Javed Ali</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.khi@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">021-111-112-222 Ext. 216, 267</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">5th Floor, AWT Plaza, I.I. Chundrigar Road, Karachi</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image lahore-img">
						<img src="assets/images/centers/lahore.jpg" class="img-fluid d-md-none" alt="Lahore">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Lahore</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Tahir Alam (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										t.alam@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">042-36317072 / UAN 111-112-222</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Saghir</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.saghir@nift.pk
									</p>
									<p class="mb-0">ops.lhr@nift.com.pk</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">042-36308832 / UAN 111-112-222</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Mobashir Munir</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.munir@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">042-36308456 / UAN 111-112-222</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">4th Floor, Al-Malik Plaza, Davis Road, Lahore</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image larkana-img">
						<img src="assets/images/centers/larkana.jpg" class="img-fluid d-md-none" alt="Larkana">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Larkana</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Jibran Sarki (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										j.sarki@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">074-4761101 / <br> 074-8002741</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Barum Ali</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.lrk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">074-4761034 / 074-8002742</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">CS# 520/521, Plot # 30, Ground Floor, Jamia Masjid Street, Old Bus Stand, Larkana</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image multan-img">
						<img src="assets/images/centers/multan.jpg" class="img-fluid d-md-none" alt="Multan">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Multan</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Wajid Munir (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.wajid@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">061-6211171</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Saif Ur Rehman</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.mul@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">061-6211172</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">2nd Floor, Paradise Center, Bosan Road, Near Metro Gulgasht Station, Multan</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image muzaffarabad-img">
						<img src="assets/images/centers/muzaffarabad.jpg" class="img-fluid d-md-none" alt="Muzaffarabad">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Muzaffarabad</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Syed Ikram Kazmi (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										s.ikram@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">05822- 447602</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Syed Azhar Hussain</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">ops.muz@nift.pk</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">05822- 447206</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Mohsin Aziz Abbasi</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.muz@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">05822- 447206</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">Ground Floor, Irfan House, P.M. House Road, Jalallabad, Muzaffarabad (Azad Kashmir)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image nawabshah-img">
						<img src="assets/images/centers/nawabshah.jpg" class="img-fluid d-md-none" alt="Nawabshah">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Nawabshah</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Arjumand Kalam (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.kalam@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0244-365272-73</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Zulfiqar Ahmed</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.nwb@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">0244-365272-73</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">2nd Floor, Flat No. 01, CS No. 2231, Subhan Center, Katchery Road, Nawabshah</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image peshawar-img">
						<img src="assets/images/centers/peshawar.jpg" class="img-fluid d-md-none" alt="Peshawar">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Peshawar</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Asif Zeeshan (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.zeeshan@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">091-5287659</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Inshaullah</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.psh@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">091-5287657-5270285 / 286</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Jasmine Arcade Trade Center, Fakhar-e-Alam Road, Peshawar Cantt</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image quetta-img">
						<img src="assets/images/centers/quetta.jpg" class="img-fluid d-md-none" alt="Quetta">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Quetta</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Ghulam Hussain (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										g.hussain@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">081-2866028</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Ishaq</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.qta@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">081-2866027-29</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Umair Hussain</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.qta@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">081-2866027-30</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Agha Siraj Complex, M.A Jinnah Circular Road, Quetta</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image ry-khan-img">
						<img src="assets/images/centers/rahim-yar-khan.jpg" class="img-fluid d-md-none" alt="Rahim Yar Khan">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Rahim Yar Khan</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Qasim Ali Ahmad (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										q.ahmed2@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">068-5870622</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Imran</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.ryk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">068-5870621/23</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Fakharullah Abbasi</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.ryk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">068-5870621/23</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">25/A, 2nd Floor, Al-Saeed Plaza-2, Model Town, Near Bank Al-Falah Main Branch, Rahim Yar Khan</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image rawalpindi-img">
						<img src="assets/images/centers/rawalpindi.jpg" class="img-fluid d-md-none" alt="Rawalpindi">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Rawalpindi</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Raza Mujahid (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										r.mujahid@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">051-5130012</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Shiraz-ul-Hasan</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.rwp@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">051-5130011, 5130014, 5130015</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Iftikhar Amir</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.rwp@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">051-5130011, 5130014, 5130015</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">4th Floor, Plot#112-B, Malhi Plaza, Murree Road, Cantt. Opposite Cantonment Board Office, Rawalpindi</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image sahiwal-img">
						<img src="assets/images/centers/sahiwal.jpg" class="img-fluid d-md-none" alt="Sahiwal">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Sahiwal</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Asad Azeem (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.azeem@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">040-4225832</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Ghazanfar Jamil</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.siw@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">040-4225830</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">2nd Floor, Madni Plaza, 557/BI Jinnah Road, High Street, Sahiwal</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image sargodha-img">
						<img src="assets/images/centers/sargodha.jpg" class="img-fluid d-md-none" alt="Sargodha">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Sargodha</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Arif Kaleem (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.kaleem@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">048-3767929</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Meraj Anwar</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.sgd@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">048-3767930</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">1st Floor, Qureshi Arcade, Khushab Road, Sargodha</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image sialkot-img">
						<img src="assets/images/centers/rahim-yar-khan.jpg" class="img-fluid d-md-none" alt="Sialkot">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Sialkot</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Akhlaq Ahmed (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										a.ahmed4@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">052-111-112-222</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Shahid Mehmood</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										s.mehmood3@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">052-111-112-222</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Usman</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.skt@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">052-111-112-222</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">3rd Floor, ABLE Plaza, Nargate Street, Sialkot</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image sukkur-img">
						<img src="assets/images/centers/sukkur.jpg" class="img-fluid d-md-none" alt="Sukkur">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Sukkur</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Uzair Baig (Manager)</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										u.baig@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">071-5619081</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Hizbullah Shaikh</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.suk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">071-5612090</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Asadullah Indhar</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.suk@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">071-5619056</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">Plot No. D-523 /A/A1, 2nd Floor, Near Agha Khan Laboratory, Workshop Road, Sukkur</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="card center-card-full">
				<div class="row mx-0 h-100">
					<div class="col-sm-4 center-image vehari-img">
						<img src="assets/images/centers/vehari.jpg" class="img-fluid d-md-none" alt="Vehari">
					</div>
					<div class="col-sm-8">
						<div class="card-body">
							<h4 class="place">Vehari</h4>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Nasir Hussain</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										m.nasir@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">067-3364471</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-12">
									<h6 class="mb-0">Muhammad Kamran Rana</h6>
								</div>
								<div class="col-xl-7">
									<p class="mb-0">
										ops.veh@nift.pk
									</p>
								</div>
								<div class="col-xl-5">
									<p class="mb-0">067-3364470</p>
								</div>
							</div>
							<hr>
							<p class="mb-0">F1-Block, Karkhana Bazar, Vehari</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>