@page
@model IBCS_Core_Web_Portal.Pages.NewPasswordModel
@{
    Layout = null;
}
<head>
    <title>NIFT Image Based Clearing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/assets/img/logo/favicon.png">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-datepicker/datepicker.css" rel="stylesheet">
    <link href="~/assets/vendor/font-awsome/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/css/proximanova.css" rel="stylesheet" />
    <link href="~/assets/css/forgot-password.css" rel="stylesheet" />
</head>
<style>
    .hide {
        display: none;
    }
</style>
    <div class="container">
        <div id="div_msg" class="card bg-danger text-white shadow hide">
            <div class="card-body">
                <label id="msg"></label>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-lg-6">
                <div class="card pwd-card">
                    <img src="assets/img/logo/nift-eclearing-logo-login.png" class="d-block mx-auto login-logo pt-4" />
                    <h5 class="mb-0 text-center">IBCS Clearing System</h5>
                    <div class="login-wrap p-4 px-md-5 py-md-3">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-3">Enter New Password</h3>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" required="required" id="password" tabindex="1" maxlength="25" />
                        </div>

                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input id="password2" type="password" required="required" class="form-control" tabindex="2" maxlength="25" />
                        </div>

                    <div class="form-group">
                        <label for="password2">
                            1. The password must be 10 character minimum and 16 characters maximum.
                        </label>
                        <label for="password2">
                            2. The password combination must be alpha numeric with upper, lower case and any special character from $!%*?&
                        </label>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" id="Sign_IN" tabindex="3" class="btn btn-secondary submit px-3"><i class="fa-solid fa-arrow-right-from-arc"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="mt-4 mb-0 text-center powered">Powered by NIFT</p>
    </div>
<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        $("#Sign_IN").click(function () {

            var password = $('#password').val();
            var password2 = $('#password2').val();

            if ((password != "" && password != null) && (password2 != "" && password2 != null))
            {
                var pass_reg = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{10,16}$/);

                if (pass_reg.test(password)) {
                }
                else {
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Please enter valid password!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                    return;
                }
                if (password == password2) 
                {
                    $.ajax({
                        type: 'GET',
                        url: '/NewPassword?handler=Senddetails',
                        datatype: 'JSON',
                        data: { "password": password, "password2": password2 },
                        success: function (result) {
                            if (result == "Success") {
                                // $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                                $("#div_msg").removeClass("hide").removeClass("bg-danger").addClass("show").addClass("bg-success");
                                $("#msg").text("Account Updated Successfully");
                                setTimeout(
                                    function () {
                                        $('#div_msg').addClass("hide");
                                    }, 500000000);
                                window.location.replace('/Login');
                            }
                            else {
                                $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                                $("#msg").text("Unable to find user account! Please enter valid user details");
                                setTimeout(
                                    function () {
                                        $('#div_msg').addClass("hide");
                                    }, 500000000);
                                window.location.replace('/Login');
                            }
                        }
                    });
                }
                else { 
                    $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                    $("#msg").text("Passwords do not match!");
                    setTimeout(
                        function () {
                            $('#div_msg').addClass("hide");
                        }, 5000);
                    return;
                }
            }
            else {
                $("#div_msg").removeClass("hide").removeClass("bg-success").addClass("show").addClass("bg-danger");
                $("#msg").text("Please enter the required fields!");
                setTimeout(
                    function () {
                        $('#div_msg').addClass("hide");
                    }, 5000);
                return;
            }
        });
    });

</script>
